* {
  font-size: 18px;
  font-weight: 700;
  font-family: "JetBrainsMono NFP";
  margin: 0;
  padding: 0;
  color: red;
}

.yasb-bar {
  padding: 0 10px;
  margin: 0;
}

.widget {
  background-color: transparent;
  padding: 0 4px;
  margin: 0 4px;
  border-radius: 8px;
}

.power-menu-popup .button {
  padding: 0;
  width: 180px;
  height: 230px;
  border-radius: 8px;
  background-color: rgba(41, 42, 58, 0.5);
  color: white;
  border-left: 4px solid rgba(58, 59, 83, 0);
  border-right: 4px solid rgba(58, 59, 83, 0);
  border-top: 8px solid rgba(58, 59, 83, 0);
  border-bottom: 8px solid rgba(58, 59, 83, 0);
  margin: 0px;
}

.wifi-widget .icon {
  padding: 0 6px;
  margin: 0;
}

.taskbar-widget .app-container {
  margin: 4px 2px;
  border-radius: 4px;
  padding: 0 4px;
}

.windows-desktops .widget-container {
  background-color: transparent;
  margin: 4px 0 4px 0;
  border-radius: 12px;
}

.windows-desktops .ws-btn {
  color: #2d2f38;
}

.windows-desktops .ws-btn.active {
  color: #dd0f0f;
}

